/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2017, 8:01:45 PM
    Author     : Shrinivas
*/

.blog-notice { text-align: center; padding: 10px; background: #DFF2BF; border: 1px solid; color: #4F8A10; margin-bottom: 10px; }
form.blog { font-size: 16px; }
form.blog div { clear: left; margin-bottom: 10px; }
form.blog label { float: left; margin-right: 10px; text-align: right; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
form.blog input[type="text"],
form.blog input[type="email"]
    { width: 80%; line-height: 26px; font-size: 20px; min-height: 26px; }
form.blog textarea { width: 80%; height: 150px; line-height: 26px; font-size: 20px; }
form.blog input[type="submit"] { margin-left: 16%; width: 40%; line-height: 26px; font-size: 20px; min-height: 26px; }
form.blog ul li { color: #ff0000; margin-bottom: 5px; }
.date { margin-bottom: 20px; border-bottom: 1px solid #ccc; font-size: 24px; color: #666; line-height: 30px }
.blog { margin-bottom: 20px; }
.blog img { width: 190px; float: left; padding: 5px; border: 1px solid #ccc; margin: 0 10px 10px 0; }
.blog .meta { clear: left; margin-bottom: 20px; }
.blog .snippet p.continue { margin-bottom: 0; text-align: right; }
.blog .meta { font-style: italic; font-size: 12px; color: #666; }
.blog .meta p { margin-bottom: 5px; line-height: 1.2em; }
.blog img.large { width: 300px; min-height: 165px; }